
<h1>Greetings, hello <%= @name %></h1>
<p>The time now is : <%= formatted_time(@time)%> </p>
<p>this page hass been viewed <%= @times_displayed%> time(s)</p>

<p><%= link_to "Google", "http://www.google.com"%></p>
<p><%= link_to "Goodbye", greeter_goodbye_path %></p>
<p><%= link_to "Courses", courses_index_path %></p
<p><%= link_to "Rescips", recipes_index_path %></p>